
@{
    ViewBag.Title = "Index";
}
<br /><br />

<div class="loginbox">
    <img src="~/Resources/avtar.png" class="avtar" /><br />
    <p class="my">
    Login Here</p><br />
    <form>
        <p>Username</p>
        <input type="text" name=" " placeholder="Enter username" />
        <p>Password</p>
        <input type="password" name=" " placeholder="Enter Password" />
        <input type="submit" name="" value="Login"  />
        <a href="#" >Lost Your Password?</a><br />
        <a href="#">Don't have an account?</a>
    </form>
</div>